.git
**/__pycache__
.venv
venv
.ruff_cache
.github
*.pyc
.env
.vscode/
node_modules/
*.log
ansible/
terraform/
.git
.dockerignore
.pylintrc
.gitignore
example.env
docker-compose.yml
build
alembic/versions